In [1]:
# Step 1: Import
from IPython.display import display
from src.db.maria_client import fetch_orders
import importlib

# Step 2: Fetch
df = fetch_orders()

# Step 3: Inspect
display(df.head())

        id   latitude   longitude
0  9999978  37.515458  127.021448
1  9999967  37.515458  127.021448
2  9999966  37.515458  127.021448
3  9999965  37.515458  127.021448
4  9999963  37.515458  127.021448